[Desktop Entry]
Actions=Window;Document;
Categories=Development;Utility;TextEditor;
Comment[en_US]=Edit source code files
Comment=Edit source code files
Exec=notepadqq %U
GenericName[en_US]=Source Code Editor
GenericName=Source Code Editor
Icon=/home/monikrab/dev/nqq/install/release/share/icons/hicolor/scalable/apps/notepadqq.svg
Keywords=Text;Editor;Plaintext;Write;
MimeType=text/x-shellscript;text/x-csrc;text/plain;text/html;
Name[en_US]=Notepadqq
Name=Notepadqq
Path=
StartupNotify=false
StartupWMClass=notepadqq
Terminal=false
TerminalOptions=
TryExec=notepadqq
Type=Application
Version=2.2.0-git
X-GNOME-FullName=Notepadqq Source Code Editor
X-KDE-SubstituteUID=false
X-KDE-Username=

[Desktop Action Document]
Exec=notepadqq
Name=Open a New Document
OnlyShowIn=Unity;

[Desktop Action Window]
Exec=notepadqq --new-window
Name=Open a New Window
OnlyShowIn=Unity;
